# Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
*/build/
!gradle-wrapper.jar

# Local configuration file (sdk path, etc)
local.properties

# Log/OS Files
*.log
*.bin
*.lock
*.class

# macOS
.DS_Store

# Windows
Thumbs.db

# Kotlin
*.kotlin_module

# Misc
*.apk
*.ap_
